* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #F6F8FC;
}

.content {
  padding: 1rem;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

main h1 {
  margin: 0;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

.pokemon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 380px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.pokemon-card {
  margin: .5rem;
  padding: .625rem;
  background-color: #49D0B0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 225px;
}

.pokemon-card .number {
  font-size: .625rem;
  color: black;
  opacity: .3;
  text-align: right;
}

.pokemon-card .name {
  color: white;
  margin-bottom: .625rem;
}

.pokemon-card .details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon-card .details .types {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon-card .details .types .type {
  font-size: .625rem;
  color: white;
  background-color: #61E1CA;
  padding: .25rem .5rem;
  margin: .25rem 0;
  border-radius: 1rem;
}

.pokemon-card .details img {
  max-width: 100%;
  height: 70px;
  align-self: flex-end;
}
