* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

main {
  padding: 1rem;
}

main h1 {
  margin: 0;
}

.pokemon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pokemon-card {
  margin: .5rem;
  padding: 2rem 1rem;
  background-color: #49D0B0;
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.pokemon-card .details img {
  max-width: 100%;
  height: 100px;
  align-self: flex-end;
}
